body{
  background-color: #ffff;
}
/*card styles*/
.card {
    padding: 50px;
    margin: 30px;
    width: 520px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    color: red;
    box-sizing: border-box;
    
    
}/* container that holds the cards*/
.container{
    display: flex;
    gap:10px;
    margin: 20px;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    position: relative;
    top: 30vh;
    
}
.card h2, p{
  text-align: center;
  color: black;
}
.AddGallery{
  bottom: 90vh;
  right: 5vh;
  border-radius: 10px;
  position: absolute;
  padding: 15px;
  background-color: black;
  color: #ffff;
  cursor: pointer;
  box-shadow: 1px 2px 5px grey;
}
.AddGallery:hover{
 transition: 0.4s;
 background-color: rgb(83, 81, 81);
}
.AddGallery:active{
 transition: 0.4s;
 background-color: rgb(223, 223, 223);
}




