body{
  background-color: aquamarine;
}
.card {
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    color: red;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: normal;

    
}

